doctype html
html( lang="en" itemtype="https://schema.org/Person" itemscope )
    head
        title Daria Stepanova
        meta( name="description" content="Daria Stepanova retouch projects" )
        include ./head.pug
h1 Daria Stepanova